<section class="home-banner">
  <div class="overlay"></div>
  <div class="banner-content">
    <h1>Want to become an official PokeDeck author?</h1>
    <div class="about-left">
    <h1>Contact us!</h1>
    <p class="response-time">Average Response Time: 24 hours</p>
  </div>

  <div class="about-container">

  </div>
  <div class="about-right">
    <form (submit)="handleSubmit($event)">
      <div class="form-row">
        <input type="text" placeholder="Name" class="form-input" />
        <input type="email" placeholder="E-mail" class="form-input" />
      </div>
      <textarea placeholder="Message" class="form-textarea"></textarea>
      <button type="submit" class="submit-button">Send message</button>
    </form>
  </div>

    <section class="faq-section">
      <h2>FAQ</h2>

      <div class="faq-item" [class.open]="faq1Open">
        <div class="faq-question" (click)="toggleFaq1()">
          <span>Do you sell cards or just review them?</span>
          <span class="arrow">{{ faq1Open ? '▲' : '▼' }}</span>
        </div>
        <div class="faq-answer" *ngIf="faq1Open">
          <p>Currently, we only review - but we can connect you with the best sellers!</p>
        </div>
      </div>

      <div class="faq-item" [class.open]="faq2Open">
        <div class="faq-question" (click)="toggleFaq2()">
          <span>How can I upload my review?</span>
          <span class="arrow">{{ faq2Open ? '▲' : '▼' }}</span>
        </div>
        <div class="faq-answer" *ngIf="faq2Open">
          <p>Contact us via form above or send us an email at </p>
          <p>contact&#64;pokedeckemporium.org</p>
        </div>
      </div>

      <div class="faq-item" [class.open]="faq3Open">
        <div class="faq-question" (click)="toggleFaq3()">
          <span>What can I write about?</span>
          <span class="arrow">{{ faq3Open ? '▲' : '▼' }}</span>
        </div>
        <div class="faq-answer" *ngIf="faq3Open">
          <p>Only Pokemon related things.</p>
        </div>
      </div>

    </section>



