<div class="news-card-container">

  <h1></h1>
</div>
<div class="main-container">
  <div class="fixed-video">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/yJ2oq33xE_M"
      title="Tournament Video"
      frameborder="0"
      allowfullscreen>
    </iframe>
  </div>
  <div class="news-card-container">

    <h1></h1>
  </div>

  <div class="videos-container">
    <iframe
      *ngFor="let video of filteredVideos"
      [src]="video"
      title="Title"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      class="video-item">
    </iframe>
  </div>

  <div class="news-card-container">

    <h1>Searching for a specific upload?</h1>
  </div>

  <div class="calendar-container">
    <calendar
      [meetings]="allVideos"
      (dateChange)="onDateChange($event)">
    </calendar>
  </div>
</div>
