<nav class="navbar" [ngClass]="navbarClass">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">
      <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/detail/025.png" alt="PokéDeck Emporium Logo" />
      <span>PokéDeck Emporium</span>
    </a>
    <ul class="navbar-menu">
      <li><a routerLink="/" class="navbar-item">Home</a></li>
      <li><a routerLink="/products" class="navbar-item">Products</a></li>
      <li><a routerLink="/about" class="navbar-item">Support & FAQ</a></li>
    </ul>
  </div>
</nav>
