* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #111;
 }

* {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

