<div class="container">
  <section class="home-banner">
    <video class="banner-video" autoplay muted loop>
      <source src="https://zardocards.com/cdn/shop/videos/c/vp/62f1486551544be19cf6331324d75a79/62f1486551544be19cf6331324d75a79.HD-1080p-7.2Mbps-37758897.mp4?v=0" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="overlay"></div>
    <div class="banner-content">
      <h1>#1 Online Portal for Pokemon Cards</h1>
      <a href="/products" class="cta-button">See Our New Reviews!</a>
    </div>
  </section>

  <div class="news-card-container">

    <h1></h1>
  </div>
  <div class="new-arrivals">
    <h1>Watch our latest uploads!</h1>
  </div>
  <div class="main-container">
    <div class="fixed-video">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/yJ2oq33xE_M"
        title="Tournament Video"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>

    <div class="calendar-card-container">
    </div>

    <div class="videos-container">
      <iframe
        *ngFor="let video of filteredVideos"
        [src]="video | safeUrl"
        title="Title"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        class="video-item">
      </iframe>
    </div>
    <div class="news-card-container">

      <h1></h1>
    </div>
    <div class="new-arrivals">
      <h1>Searching for a specific upload?</h1>
    </div>

    <div class="calendar-container">
      <calendar
        [meetings]="allVideos"
        (dateChange)="onDateChange($event)">
      </calendar>
    </div>
  </div>
  <div class="news-card-container">

    <h1></h1>
  </div>
  <div class="product-grid">
    <a href="/products" class="product-card">
      <img src="https://zardocards.com/cdn/shop/files/00dd41b9-2a02-4600-99ce-67bd861be648.jpg?v=1734364243&width=700" alt="Proizvod 1">
      <div class="card-content">
        <h3>SLABS</h3>
      </div>
    </a>
    <a href="/products" class="product-card">
      <img src="https://zardocards.com/cdn/shop/files/hiddenfates_66761532-373b-4df1-88da-b304ba4b537a.png?v=1714668436&width=500" alt="Proizvod 2">
      <div class="card-content">
        <h3>BOOSTER PACKS</h3>
      </div>
    </a>
    <a href="" class="product-card">
      <img src="https://zardocards.com/cdn/shop/files/img342.jpg?v=1714667465&width=800" alt="Proizvod 1">
      <div class="card-content">
        <h3>ACCESSORIES REVIEW</h3>
        <p style="color: red;">COMING SOON!</p>
      </div>
    </a>
    <a href="/products" class="product-card">
      <img src="https://zardocards.com/cdn/shop/files/2e520e22-1cec-45c5-9790-f65d55257cd3.png?v=1735587875&width=300" alt="Proizvod 1">
      <div class="card-content">
        <h3>RAW CARDS</h3>
      </div>
    </a>
  </div>
  <div class="news-card-container">

    <h1></h1>
  </div>

  <div class="testimonial-section">
    <h1>1000+ Reviews</h1>
    <p>More than 1000+ reviews counted over the course of 10 years.</p>
  </div>
  <div class="news-card-container">

    <h1></h1>
  </div>

  <div class="new-arrivals">
    <h2>Explore Our New Legendary Arrivals</h2>
    <h2> </h2>
    <h2> </h2>


    <div class="items-grid">
      <a href="/products/{{ item.id }}" class="item-card" *ngFor="let item of legendaryItems">
        <img [src]="item.image" alt="{{ item.title }}" />
        <div class="card-content">
          <h3>{{ item.title }}</h3>
        </div>
      </a>
    </div>
  </div>
</div>
